<h1><%= "Total members: #{house_members.count}" %></h1>

<% house_members.each do |member| %>
  <% if member.order_member? %>
  <ul class='order-member'>
  <% binding.pry %>
    <li>member.name</li>
    <li>member.role</li>
    <li>member.house</li>
    <li>member.patronus</li>
  </ul>
  <% end %>
<% end %>