<h1><%= "Total members: #{house_members.count}" %></h1>

<% house_members.each do |member| %>
  <% if member.order_member? %>
  <ul class='order-member'>
    <li>member.name</li>
  </ul>
  <% end %>
<% end %>